<a
  class="btn btn-neutral btn-square"
  (click)="isOpened.set(!isOpened())"
  (keypress.enter)="isOpened.set(!isOpened())"
  tabindex="0">
  <div class="tooltip" [attr.data-tip]="'current mask: ' + currentMask().title">
    <ng-icon name="phosphorPassword"></ng-icon>
  </div>
</a>

<div class="dropdown dropdown-start" [class.dropdown-open]="isOpened()">
  <ul class="dropdown-content menu rounded-box bg-base-100 w-52 shadow-sm">
    @for (mask of masks(); track $index) {
      <li>
        <a
          (click)="updateCurrent(mask)"
          (keypress.enter)="updateCurrent(mask)"
          tabindex="1"
          [class.menu-active]="mask.mask === currentMask().mask">
          {{ mask.title }}
        </a>
      </li>
    }
  </ul>
</div>
