<dialog #modal class="modal bg-base-100">
  <div class="modal-box max-w-3xl">
    <form method="dialog">
      <button class="btn btn-circle btn-accent btn-sm absolute top-2 right-2">
        ✕
      </button>
    </form>
    @if (title() !== '' && title() !== null) {
      <h3 class="text-3xl font-bold">{{ title() }}</h3>
      <div class="divider mt-0"></div>
    }
    <ng-content></ng-content>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="primaryAction()">
        {{ primaryButtonTitle() }}
      </button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
